h1 {
    color: red;
    font-size: 200px;
}

img {
    background-color: rgb(3, 252, 57);
}

.bacon {
    background-color: green;
}

.broccoli {
    background-color: rgb(0, 68, 255);
}
